/* YOUR CUSTOM STYLES */
html,
body,
.view {
    height: 100%;
}

/*Intro*/

.view {
    background: url("../img/slider22.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

/* Navigation*/

.navbar {
    background-color: transparent;
}


.top-nav-collapse {
    background-color: black;
}


.nav-li {
  font-size: 18px;
}



@media only screen and (max-width: 768px) {
    .navbar {
      background-color: white;
      filter: alpha(opacity=10);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=10);
  -moz-opacity: 0.10;
  opacity: 0.1;
  zoom: 1;
    }
}

/*Intro*/
  .description {
    padding-top: 15%;
    padding-bottom: 3rem;
    color: #c52c2c;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
.description a {
  padding: 20px;
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

.redred {
  color: red;
}

/*features*/
.app-circle {
  width:140px;
  height: 140px;
  border: 1px solid red;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.5s ease;
  position: relative;
  }

  .icon-app {
    width: 60px;
    height: 60px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    position: absolute;
    top: 28%;
    left: 28%;
  }


  h4 {
    padding-top: 20px;
    text-align: center
  }
  h7 {
    color: #c52c2c;
  }
  h7 span {
    color: #0056a5;
  }

  p {
    text-align: center;
    font-size: 13px;
  }


.app-icon1{
   background-image: url("../img/worker.png");
}
.app-icon2 {
 background-image: url("../img/hand.png");
}

.app-icon3{
background-image: url("../img/cal.png");
}
.app-icon4{
background-image: url("../img/wind.png");
}
.app-icon5{
background-image: url("../img/positive.png");
}
.app-icon6{
background-image: url("../img/quality.png");
}


.pic-partner1 {
  background-image: url("../img/presslogo.jpg")no-repeat;
  height: 200px;
}
.pic-partner2 {
  background-image: url("../img/rexellogo.jpg") no-repeat;
  height: 200px;
}


h6 {
  color: red;
  font-size: 13px;
}

/*testimonials*/
.avatar{
  padding-left:30%;
  text-align: center;
  padding-top: 10%;
}


.yo {
  width: 120px;
  height: 120px;
}

.img-testimonial{
  width: 60%;
  height: auto;
}

h5 {
  text-align: center;
  font-size: 12px;
}
.orange-text {
  text-align: center;
}

/*form*/
.myForm {
  margin-bottom: 50px;
}

.container-fluid {
  padding-left: 10%;
}
.icon {
  text-align: center;
}

footer {
  background-color: #165dc1;
  padding-top: 30px;
  padding-bottom: 20px;
  color: gray;
}

footer a {
  color: gray;
}

.text-about p {
color: gray;
text-align: left;
font-size: 15px;
}

#social-pic {
width: 100%;
height:300px;
margin-left: auto;
margin-right: auto;
text-align:center;
font-size: 14px;
background:url("../img/socjal1.jpg") repeat fixed 100%;
background-size: cover;
color: white;
}

#shops-pic {
width: 100%;
height:300px;
margin-left: auto;
margin-right: auto;
text-align:center;
font-size: 14px;
background:url("../img/sklep.jpg") repeat fixed 100%;
background-size: cover;
color: white;
}

#workshop-pic {
width: 100%;
height:300px;
margin-left: auto;
margin-right: auto;
text-align:center;
font-size: 14px;
background:url("../img/warsztat1.jpg") repeat fixed 100%;
background-size: cover;
color: white;
}

#contact-pic {
width: 100%;
height:300px;
margin-left: auto;
margin-right: auto;
text-align:center;
font-size: 14px;
background:url("../img/mapa.jpg") repeat fixed 100%;
background-size: cover;
color: white;
}

.pic-about{
  background-image: url("../img/about.jpg") ;
  height: 400px;
}

.contacto  h1 {
  color: red;
}
.contacto  h1 span {
  color: #1381d4;
}
.social {
  text-align: center;
  border-bottom-color: #1381d4;
  border-style: solid;
  border-width: thin;
  color: #1381d4;
  padding: 10px;
}

.partners p {
  font-size: 20px;
  text-align: left;
  color: #1381d4;
}
